@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "cairo-regular";
  src: url(../fonts/Cairo-Regular.ttf);
}

.rtl-cursor {
  direction: rtl;
  unicode-bidi: embed;
}

input:not(:placeholder-shown) ~ .custom-input {
  @apply -top-3 text-xs text-blue-600;
}
